<h1 style="color:white"><b><i>Search Results</i></b></h1>
<% if @projA.length > 0 %>
<center>
<h2 style="color:white"><i>By Name</i></h2>
</center>
<table>
  <tbody>
    <% @projA.each do |project| %>
    <div style="padding-right:25%; padding-left:20%">
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <div style="display:inline-block">
            <%= link_to(image_tag(project.avatar.url,class: 'list_image', :alt => "home image", :width => 630, :height => 200), project) %>
            <h3><%= link_to project.name, project %></h3>
            <p><%= truncate(strip_tags(project.description), length: 80) %></p>
          </div>
        </div>
      </li>
    </ul> 
  </div>
    <% end %>
  </tbody>
</table>
<% end %>

<br>
<% if @projB.length > 0 %>
<center>
<h2 style="color:white"><i>By Description</i></h2>
</center>
<table>
  <tbody>
    <% @projB.each do |project| %>
    <div style="padding-right:25%; padding-left:20%">
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <div style="display:inline-block">
            <%= link_to(image_tag(project.avatar.url,class: 'list_image', :alt => "home image", :width => 630, :height => 200), project) %>
            <h3><%= link_to project.name, project %></h3>
            <p><%= truncate(strip_tags(project.description), length: 80) %></p>
          </div>
        </div>
      </li>
    </ul> 
  </div>
    <% end %>
  </tbody>
</table>
<% end %>

<br>
<% if @projC.length > 0 %>
<center>
<h2 style="color:white"><i>By Story</i></h2>
</center>
<table>
  <tbody>
    <% @projC.each do |proj| %>
    <div style="padding-right:25%; padding-left:20%">
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <div style="display:inline-block">
            <%= link_to(image_tag(proj.project.avatar.url,class: 'list_image', :alt => "home image", :width => 630, :height => 200), proj.project) %>
            <h3><%= link_to proj.project.name, proj.project %></h3>
            <p><%= truncate(strip_tags(proj.project.description), length: 80) %></p>
          </div>
        </div>
      </li>
    </ul> 
  </div>
    <% end %>
  </tbody>
</table>
<% end %>

