%h1{:style => "color:white"}
  %b
    %i Search Results
- if @projA.length > 0
  %center
    %h2{:style => "color:white"}
      %i By Name
  %table
    %tbody
      - @projA.each do |project|
        %div{:style => "padding-right:25%; padding-left:20%"}
          %ul.thumbnails
            %li.span4
              .thumbnail
                %div{:style => "display:inline-block"}
                  = link_to(image_tag(project.avatar.url,class: 'list_image', :alt => "home image", :width => 630, :height => 200), project)
                  %h3= link_to project.name, project
                  %p= truncate(strip_tags(project.description), length: 80)
%br/
- if @projB.length > 0
  %center
    %h2{:style => "color:white"}
      %i By Description
  %table
    %tbody
      - @projB.each do |project|
        %div{:style => "padding-right:25%; padding-left:20%"}
          %ul.thumbnails
            %li.span4
              .thumbnail
                %div{:style => "display:inline-block"}
                  = link_to(image_tag(project.avatar.url,class: 'list_image', :alt => "home image", :width => 630, :height => 200), project)
                  %h3= link_to project.name, project
                  %p= truncate(strip_tags(project.description), length: 80)
%br/
- if @projC.length > 0
  %center
    %h2{:style => "color:white"}
      %i By Story
  %table
    %tbody
      - @projC.each do |proj|
        %div{:style => "padding-right:25%; padding-left:20%"}
          %ul.thumbnails
            %li.span4
              .thumbnail
                %div{:style => "display:inline-block"}
                  = link_to(image_tag(proj.project.avatar.url,class: 'list_image', :alt => "home image", :width => 630, :height => 200), proj.project)
                  %h3= link_to proj.project.name, proj.project
                  %p= truncate(strip_tags(proj.project.description), length: 80)
