<br>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <div class="bs-example " style="padding-bottom: 24px;">
      <%= link_to "New Project", new_project_path,class: 'btn btn-lg btn-danger'%>
    </div>
    <% @projects.each do |project| %>
    <div style="padding-right:25%; padding-left:20%">
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <div style="display:inline-block">
            <%= link_to(image_tag(project.image_url,class: 'list_image', :alt => "home image", :width => 800, :height => 200), project) %>
            <h3><%= link_to project.name, project %></h3>
            <p><%= truncate(strip_tags(project.description), length: 80) %></p>
          </div>
        </div>
      </li>
    </ul> 
  </div>
    <% end %>
  </tbody>
</table>

<%= will_paginate @project, renderer: BootstrapPagination::Rails %>
