<p id="notice"><%= notice %></p>

  <div class="bs-example " style="padding-bottom: 24px;">
	<%= button_tag @project.name, class: 'btn btn-lg btn-danger bs-docs-popover', rel: 'popover', :data=>{
		content: @project.description, title: @project.name, toggle: 'popover'}%>
  </div>
  <% if @project.admin == current_user.id %>
  	<div class="pull-left">
		  <%= form_tag add_user_project_path(@project), role: 'search' do %> 
		 	 <div class="form-group"> <%= text_field_tag :q, nil, {placeholder: 'Add Members', class: 'form-control', size: '30px'} 
		 	 %> </div>
		    <%= submit_tag("Submit", class: 'btn btn-default') %>
		  <% end %>
	 </div>
 <% end %>



  <!-- Button trigger modal -->
<button class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#settings">
  Settings
</button>

<!-- Modal -->
<div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><b><%= @project.name %><b></h4>
      </div>
      <div class="modal-body">
        <% if @project.admin == current_user.id %>
        <%= button_to 'Add User Story', new_project_story_path(@project, Story.new), method: :get, class: 'btn btn-primary btn-lg btn-block', style: 'float:right;	background-color:#d9534f' %>
        <%= link_to "." %>
		<%= button_to 'Edit', edit_project_path(@project), method: :get, class: 'btn btn-primary btn-lg btn-block', style: 'float:right;	background-color:#d9534f' %>
		<%= link_to "." %>
		<% end %>
		<%= button_to 'Delete Project', @project, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-primary btn-lg btn-block', style: 'float:right;	background-color:#d9534f'%>
		<%= link_to "." %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
	
	<div class="bs-example" style="padding-top:80px">
		<h3 style="text-align:center; color:white"><b><i>To Do</i></b></h3>
	    <div class="list-group">
	    	<% @project.stories.each do |story| %>
	    		<%if story.state=='to do' %>
		    		<%if story.tasks.empty? %>
				      <a href="#empty" data-toggle="modal" data-target="#empty" class="list-group-item" style="background-color:#DCB6F1">
				        <h4 class="list-group-item-heading" style="color:#27709b"><%=story.name%></h4>
				        <p class="list-group-item-text" style="color:#27709b"><%=story.description%></p>
				      </a>
				    <% else %>
				      <a href="#<%=story.id%>" data-toggle="modal" data-target="#<%=story.id%>" class="list-group-item" style="background-color:#DCB6F1">
				        <h4 class="list-group-item-heading" style="color:#27709b"><%=story.name%></h4>
				        <p class="list-group-item-text" style="color:#27709b"><%=story.description%></p>
				      </a>
				    <%end%>
				    <!-- empty Modal -->
			    	<div class="modal fade" id="empty" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						        <h4 class="modal-title" id="myModalLabel">This story is empty</h4><br>
						      </div>
						      <div class="modal-body">
						     	<%= button_to 'Add Tasks', new_project_story_task_path(@project, story, Task.new), method: :get, class: 'btn btn-primary btn-lg btn-block', style: 'float:right;	background-color:#d9534f' %>
						      </div>
						      <br><br>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        <button type="button" class="btn btn-primary">Save changes</button>
						      </div>
						    </div>
						  </div>
						</div>
			      <!-- Modal -->
			    	<div class="modal fade" id="<%=story.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						        <h4 class="modal-title" id="myModalLabel"><%=story.name%></h4><br>
						        <p><%=story.description%></p>
						      </div>
						      <div class="modal-body">
						     	<% story.tasks.each do |task| %>
						     		<form role="form">
							      		<div class="checkbox">
											    <label>
											    	<%= check_box_tag task.id %> <p><%= task.description %></p>
											    </label>
												</div>
							      </form>
						     	<%end%>
						     	<%= button_to 'Add Tasks', new_project_story_task_path(@project, story, Task.new), method: :get, class: 'btn btn-primary btn-lg btn-block', style: 'float:right;	background-color:#d9534f' %>
						      </div>
						      <br><br>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        <button type="button" class="btn btn-primary">Save changes</button>
						      </div>
						    </div>
						  </div>
						</div>
			    <%end%>
		    <%end%>
	    </div>
	 </div>

	<div class="bs-example">
		<h3 style="text-align:center; color:white"><b><i>Doing</i></b></h3>
	    <div class="list-group">
	    	<% @project.stories.each do |story| %>
	    		<%if story.state=='doing' %>
			      <a href="#<%=story.id%>" data-toggle="modal" data-target="#<%=story.id%>" class="list-group-item" style="background-color:#90F890">
			        <h4 class="list-group-item-heading" style="color:#27709b"><%=story.name%></h4>
			        <p class="list-group-item-text" style="color:#27709b"><%=story.description%></p>
			      </a>
			      <!-- Modal -->
			      	<div class="modal fade" id="<%=story.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					        <h4 class="modal-title" id="myModalLabel"><%=story.name%></h4><br>
					        <p><%=story.description%></p>
					      </div>
					      <div class="modal-body">
					        
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        <button type="button" class="btn btn-primary">Save changes</button>
					      </div>
					    </div>
					  </div>
					</div>
			    <%end%>
			   
		    <%end%>
	    </div>
	 </div>

	 <div class="bs-example" >
	 	<h3 style="text-align:center; color:white"><b><i>Done</i></b></h3>
	    <div class="list-group" >
	    	<% @project.stories.each do |story| %>
	    		<%if story.state=='done' %>
			      <a href="#<%=story.id%>" data-toggle="modal" data-target="#<%=story.id%>" class="list-group-item" style="background-color:#FA7373">
			        <h4 class="list-group-item-heading" style="color:#27709b"><%=story.name%></h4>
			        <p class="list-group-item-text" style="color:#27709b"><%=story.description%></p>
			      </a>
			      <!-- Modal -->
			      	<div class="modal fade" id="<%=story.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					        <h4 class="modal-title" id="myModalLabel"><%=story.name%></h4><br>
					        <p><%=story.description%></p>
					      </div>
					      <div class="modal-body">
					        
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        <button type="button" class="btn btn-primary">Save changes</button>
					      </div>
					    </div>
					  </div>
					</div>
			    <%end%>
			   
		    <%end%>
	    </div>
	 </div>
	
<br>