<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
 <h1>Listing stories</h1>

<table>
  <tbody>
    <% @project.stories.each do |story| %>
      <tr>      
        <div class="bs-docs-example" style="padding-bottom: 24px;">
			<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large"><%=story.name%></a>
		</div>
      </tr>
      <!-- Modal -->
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel"><%=story.name%></h3>
		  </div>
		  <div class="modal-body">
		    <p>One fine body…</p>
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		    <button class="btn btn-primary">Save changes</button>
		  </div>
		</div>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Add User Story', new_project_story_path(@project, Story.new) %>
<%= link_to 'Edit', edit_project_path(@project) %> 
<%= link_to 'Back', projects_path %>
