.bs-example{:style => "padding-bottom: 24px;"}
  = button_tag @project.name, class: 'btn btn-lg btn-danger bs-docs-popover', rel: 'popover', :data=>{ |
    content: @project.description, title: @project.name, toggle: 'popover'}                            |
- if @project.admin == current_user.id
  .pull-left
    = form_tag add_user_project_path(@project), role: 'search' do
      .form-group
        = text_field_tag :q, nil, {placeholder: 'Add Members', class: 'form-control', size: '30px'}
      = submit_tag("Submit", class: 'btn btn-default')
/ Button trigger modal
%button.btn.btn-primary.btn-lg.pull-right{"data-target" => "#settings", "data-toggle" => "modal"}
  Settings
/ Modal
#settings.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        %h4#myModalLabel.modal-title
          %b
            = @project.name
            %b/
      .modal-body
        - if @project.admin == current_user.id
          = button_to 'Add User Story', new_project_story_path(@project, Story.new), method: :get, class: 'btn btn-primary btn-lg btn-block', style: 'float:right;	background-color:#d9534f'
          = link_to "."
          = button_to 'Edit', edit_project_path(@project), method: :get, class: 'btn btn-primary btn-lg btn-block', style: 'float:right;	background-color:#d9534f'
          = link_to "."
        = button_to 'Delete Project', @project, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-primary btn-lg btn-block', style: 'float:right;	background-color:#d9534f'
        = link_to "."
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "button"} Save changes
#tarek
  = render 'project'
