<h1 style="color:white"><i><%=current_user.email%></i></h1>
<a href="#image" data-toggle="modal" data-target="#image">
	<%= image_tag(current_user.avatar.url(:medium),class: 'list_image', :alt => "avatar") %>
</a>
<div class="pull-right">
	<%= button_to 'Edit profile', edit_user_registration_path, method: :get, class: 'btn btn-primary btn-lg' %>
</div>
<br>
<br>
<br>
<ul class="nav nav-pills nav-justified" style="background-color:white">
  <li class="active"><a href="#myProjects" data-toggle="tab">My Projects</a></li>
  <li><a href="#otherProjects" data-toggle="tab">Projects enrolled in</a></li>
  <li class="disabled"><a href="#" >Notes</a></li>
</ul>
<br>
<div class="tab-content">
	<div class="tab-pane active fade in" id="myProjects"style="background-color:white; width:100%; ">
		<% found = 0%>
		
		<% current_user.projects.each do |project| %>
			<% if project.admin == current_user.id%>
				<% found = 1%>
			  <div style="padding-right:70%; padding-left:10px">
			    <ul class="thumbnails">
			      <li class="span4">
			        <div class="thumbnail">
			          <div style="display:inline-block">
			            <%= link_to(image_tag(project.avatar.url,class: 'list_image', :alt => "home image", :width => 200, :height => 100), project) %>
			            <h3><%= link_to project.name, project %></h3>
			            <p><i><%= truncate(strip_tags(project.description), length: 80) %></i></p>
			          </div>
			        </div>
			      </li>
			    </ul> 
			  </div>
			<% end %>	  
	  <% end %>
	  <% if found == 0 %>
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading">Sorry!</h4>
					You have not created any projects, You can create projects
					<%= link_to 'here', new_project_path %>
				</div>
		<% end %>
	</div>

	<div class="tab-pane fade in" id="otherProjects" style="background-color:white; width:100%; ">
		<% found = 0%>
		<% current_user.projects.each do |project| %>
			<% if project.admin != current_user.id%>
				<% found = 1%>
			  <div style="padding-right:70%; padding-left:10px">
			    <ul class="thumbnails">
			      <li class="span4">
			        <div class="thumbnail">
			          <div style="display:inline-block">
			            <%= link_to(image_tag(project.avatar.url,class: 'list_image', :alt => "home image", :width => 200, :height => 100), project) %>
			            <h3><%= link_to project.name, project %></h3>
			            <p><i><%= truncate(strip_tags(project.description), length: 80) %></i></p>
			          </div>
			        </div>
			      </li>
			    </ul> 
			  </div>
			<% end %>	  
	  <% end %>
  	<% if found == 0 %>
			<div class="alert alert-info" role="alert">
				<h4 class="alert-heading">Sorry!</h4>
				You're not enrolled in any projects
				<br>
				<br>
			</div>
		<% end %>
	</div>
</div>
<!-- image Modal -->
<div class="modal fade" id="image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
     	<%= image_tag(current_user.avatar.url,class: 'list_image', :alt => "avatar", width: '500', height:'500') %>
      </div>
    </div>
  </div>
</div>
