<!DOCTYPE html>
<html>
  <head>
    <title>Trello</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <%= stylesheet_link_tag    'bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'trelloicon2-20140726-favicon.ico' %>
      <!-- Bootstrap -->
  </head>
  <body style="background-color:#2E8BB9;">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="container" >
      <div class="navbar " style="background-color:#166491;">
        <div class="navbar-inner">
          
         
        <% if user_signed_in? %>
        
        <ul class="nav nav-pills" >
            <li class="active"><a href="http://localhost:3000/projects">My Projects</a></li>
            <li class="active"><a href="http://localhost:3000">Home</a></li>
            <li class="active"><a href="#">TOUR</a></li>
            <li class="dropdown pull-right active">
              <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#"><%=current_user.email %><b class="caret"></b></a>
              <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
                <li role="presentation"><a href="http://localhost:3000/projects">Profile</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><%= link_to 'Edit profile', edit_user_registration_path %></li>
                <li role="presentation"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
            <li class="pull-right">
              <%= form_tag('/search/show', method: :post, class: 'navbar-form navbar-left', role: 'search') do %> 
                <div class="form-group"> <%= text_field_tag :q, nil, {placeholder: 'Search for Projects', class: 'form-control', size: '60px'} %> </div>
                <%= submit_tag("Submit", class: 'btn btn-default') %>
              <% end %>
            </li>
          </ul>
        <% else %>
          <ul class="nav nav-pills" >
            <li class="active"><a href="http://localhost:3000/">HOME</a></li>
            <li ><a style="color:white" href="#">TOUR</a></li>
            <li ><a style="color:white" href="#">GOLD</a></li>
            <li ><a style="color:white" href="#">BUSINESS CLASS</a></li>
            <li ><a style="color:white" href="#">BLOG</a></li>
            <p class="navbar-text pull-right">
          <%= link_to "Sign up", new_user_registration_path , style: 'color:white' %> |
          <%= link_to "Login", new_user_session_path , style: 'color:white' %>
          </ul>
        <% end %>
        </div>
      </div>
    </div>


    <div style="background-color:#2E8BB9; height:100%; width:100%; " class="container-fluid" >
      
        <div class="span10" style="padding-top:40px;">
          <!--Body content-->
          <%= yield %>
        </div>
      </div>
    </div>
    <script>
      $('.container-fluid').css('min-height', screen.height-85);
      $('.container-fluid').css('min-width', screen.width-85);
      $('#myCarousel').css('min-height', screen.height-85);
      //$('#myModal').modal()
      $('#carouselimage1').css('min-height', screen.height-85);
      $('#carouselimage2').css('min-height', screen.height-85);
      $('#carouselimage3').css('min-height', screen.height-85);
    </script>
  </body>
</html>